{% extends 'base.njk' %}

{% block title %}<title>About</title>{% endblock%}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            
            <div class="col-lg-12 mx-auto cta-inner text-left">
                <div style="margin-bottom: 20px;">
                    <img class="img-fluid" src="/assets/img/main_logo.png" alt="" />
                </div>
                <i>Mapping Eastern Europe</i> is a new digital and interactive platform intended to promote study,
                research, and teaching of the history, art, and culture of Eastern Europe between the thirteenth and
                seventeenth centuries among students, teachers, scholars, and the wider public.
                <br><br>
                Users can access content written by specialists in the form of historical overview, art historical case
                studies, short notices about ongoing research projects, and reviews of recent books and exhibitions.
                <br><br>
                The <b><a href="/category/historical-overviews">historical overviews</a></b> offer concise accounts of
                key regions of Eastern Europe and their interactions with neighbors during the period in question,
                offering historical details related to political, economic, military, social, and religious matters that
                would supplement the material presented on the site. <br><br>The <b><a
                        href="/category/case-studies">case studies</a></b> focus on the visual and material culture of
                the regions set against the backdrop of the historical context, and also introduce methodological and
                theoretical questions that could be pursued further in classes, teaching, or research. The <b><a
                        href="/category/ongoing-projects">ongoing projects</a></b> about ongoing research projects allow scholars to
                present and disseminate in brief their ideas and work.
                <br><br>
                Finally, the <b><a href="/category/reviews">reviews</a></b> of recent books and exhibitions enable
                readers to learn more about current scholarship and exhibitions that may not be easily accessible
                otherwise. The content on the site is regularly updated with new scholarship and contributions.
                <br><br>
                The initial stages of development for this project (July - December 2020) have been made possible by the
                <a href="https://humanities.princeton.edu/2020-rapid-response-projects-magic/">“Rapid Response Magic
                    Project of the Princeton University Humanities Council.”</a>
                <br><br>
                <i>Mapping Eastern Europe</i> aims to make the material evidence known and accessible, and thereby help
                expand the temporal and geographic parameters of the study of medieval, early modern, Byzantine, and
                post-Byzantine art, architecture, and visual culture. The project stems from the <a
                    href="https://www.northofbyzantium.org/">North of Byzantium</a> initiative, which probes the
                history, art, and culture of the northern frontiers of the Byzantine Empire in Eastern Europe between
                the thirteenth and seventeenth centuries.
                <br><br>
                <b>Credits</b><br>
                Editors: Maria Alessia Rossi and Alice Isabella Sullivan<br>
                Assistant Editor: Sarah Mathiesen<br>
                Designer and developer: Andrew Janco<br>
                <br><br>
                <b>Contributors</b><br>
                Jelena Bogdanović, Emanuela Cernea, Jasmina Ciric, Ovidiu Cristea, Konstantinos Dolmas, Ozlem Eren,
                Snežana Filipova, Andjela Gavrilović, Franka Horvat, Nicholas Melvani, Dragos Nastasoiu, Anastasios
                Ntouros, Ovidiu Olar, Anita Paolicchi, Nicole Paxton Sullo, Elias Petrou, Christian Raffensperger, James
                Rodriguez, Vlada Stanković, Galina Tirnanic, Marka Tomić-Đurić, Dragan Vojvodić, Margarita
                Voulgaropoulou, Lilyana Yordanova, Olga Yunak, Justin Wilson, Valentina Živković

            </div>
                <div style="margin-top: 10px;" class="row">
                <div class="col"><img class="img-fluid" src="/assets/img/NoB_Logo.png" /></div>
                <div class="col"><img class="img-fluid" src="/assets/img/Humanities-Council.png" /></div>
                <div class="col"><img class="img-fluid" src="/assets/img/icma-logo.png" /></div>
                <div class="col"><img class="img-fluid" src="/assets/img/mjc-logo.png" /></div>
                <div class="col"><img class="img-fluid" src="/assets/img/tufts.png" /></div>
            </div>
        </div>

       
    </div>
</section>
{% endblock %}
