{% extends 'base.njk' %}

{% block title %}<title>Help</title>{% endblock%}
{% block content %}

<section>
    <div class="container">
        <div class="row">
            
            <div class="col-lg-12 mx-auto cta-inner text-left">
                <div style="margin-bottom: 20px;">
                    <img class="img-fluid" src="/assets/img/main_logo.png" alt="" />
                </div>
                <p>On the homepage of <em>Mapping Eastern Europe</em>, users who are searching for specific content and details can&nbsp;access individual pages for historical and thematic&nbsp;overviews, case studies and videos of monuments and objects, ongoing projects, as well as reviews of books and exhibitions&nbsp;via the opening statement or the menu bar. Exploratory visitors, instead, can navigate a map of Eastern Europe in the lower half of the opening page, delving into and discovering the variety of sources and materials within. The results can be filtered with the timeline scroll bar or via type, location, and subject.&nbsp;</p>

<p>Please fill out this<strong> </strong>brief<strong> <u><a href="https://docs.google.com/forms/d/e/1FAIpQLSfYKWUSd4hv3eJmddYDQ358yoO1Qw-L8UOK9QBXTP4dbWue6g/viewform?usp=sf_link">form</a></u></strong> if you need any help navigating the <em>Mapping Eastern Europe</em> platform, or if you would like to get in touch with us to suggest new content or write a historical overview, a case study, or a short notice about an ongoing research project.</p>
            </div>
        </div>
        
    </div>
</section>
{% endblock %}
