{% extends 'base.njk' %}
{% block extra_css %}
{% endblock%}

{% block content %}

<div class="container my-auto">
    <section>
            {% set listCollection = listCollection | default("items") %}

            {% for item in collections[listCollection] %}
            <div class="row">
                <div class="col-6 mx-auto">  
          
                    <h3>{{ item.data.title | markdownify | safe }}</h3>
                    <p><em>{{ item.data.location }}</em></p>
                    <p>{{ item.content | safe }}</p>
                    <br>
                    <p>{{ item.data.item_image_caption }}</p>
                </div>
                <div class="col-6 mx-auto">  
                    
                         <img src="{{ item.data.item_image }}" alt="{{ item.data.item_image_caption }}" class="img-fluid img-thumbnail">
                        
                  </div>    

            </div>
                          <hr>

          {% endfor %}

        </div>
  </section>
</div>



{% endblock %}

{% block extra_js %}
{% endblock %}